[package]
name = "nuxtor"
version = "0.0.1"
description = "Starter template for Nuxt 3 with Tauri"
authors = [ "NicolaSpadari" ]
license = "MIT"
repository = "https://github.com/NicolaSpadari/nuxtor"
edition = "2021"

[lib]
name = "nuxtor_lib"
crate-type = [
  "staticlib",
  "cdylib",
  "rlib"
]

[build-dependencies]
tauri-build = { version = "2.0.0-beta", features = [] }

[dependencies]
tauri-plugin-shell = "2.0.0-beta"
tauri-plugin-notification = "2.0.0-beta"
tauri-plugin-os = "2.0.0-beta"
tauri = { version = "2.0.0-beta", features = [] }
serde = { version = "1", features = [ "derive" ] }
serde_json = "1"
