[package]
name = "nuxtor"
version = "0.0.3"
description = "Starter template for Nuxt 3 with Tauri"
authors = [ "NicolaSpadari" ]
license = "MIT"
repository = "https://github.com/NicolaSpadari/nuxtor"
edition = "2021"

[lib]
name = "nuxtor_lib"
crate-type = [
  "staticlib",
  "cdylib",
  "rlib"
]

[build-dependencies.tauri-build]
version = "2.0.0-beta.18"
features = [ ]

[dependencies]
tauri-plugin-shell = "2.0.0-beta.8"
tauri-plugin-notification = "2.0.0-beta.9"
tauri-plugin-os = "2.0.0-beta.7"
serde_json = "1"

[dependencies.tauri]
version = "2.0.0-beta.23"
features = [ ]

[dependencies.serde]
version = "1"
features = [ "derive" ]
